:root {
    --text-color-black: #303030;
    --text-color-white: #ffffff;
    --font-size-p: 16px;
    --font-size-h4: 24px;
    --font-size-h1: 40px;
    --white-wall: #ffffff30;
    --black-wall: #00000050;
    --border-radius: 8px; 
    --padding: 20px; 
}